@mixin flexCenterRow {
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}
/* css reset */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Noto Sans','Times New Roman', Times, sans-serif;
}
body{
    display:grid;
    grid-template-rows: 75px 1fr 50px;
    grid-template-columns: 1fr;
    min-height:100vh;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
/* base styles */
:root{
    --secondary: #334155;
    --primary: #f1f5f9;
}
header{
    @include flexCenterRow();
    background-color:var(--secondary);
    box-shadow: 1px 1px 1px 1px var(--primary);
    h1{
        font-weight: bold;
        color:#fff;
    }
}
main{
    display:grid;
    grid-template-rows: 1em, 1fr;
    grid-template-columns: 1fr;
    padding: 1em 0;
    background-color:var(--primary);
    transition: height .4s ease-in-out;
    -webkit-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    .addBookBtn{
        margin: 0 auto;
        button{
            color:#fff;
            background-color: var(--secondary);
            border:none;
            border-radius:1em;
            height:2em;
            width:8em;
            font-weight: bold;
        }    height:100%;
    }
    .bookGrid{
        background-color:var(--primary);
    }
    #book-form{
        //display:none;
        position:absolute;
        top:20%;
        left:50%;
        transform: translateX(-50%);
        height:50vh;
        width:85vw;
        .form-input{
            display:flex;
            flex-flow:column;
            background-color: var(--secondary);
            height:100%;
            padding:1em;
            border-radius:1em;
            color:#fff;
            .form-title{
                @include flexCenterRow();
                h3{
                    text-transform: uppercase;
                    margin-bottom:1em;
                }
            }
            .input-fields{
                display:flex;
                flex-flow:column;
                input{
                    border:2px solid black;
                    border-radius:0.5em;
                    padding:10px;
                }
                input:focus{
                    outline:none;
                }
            }
            .form-checklist{
                @include flexCenterRow();
                margin-bottom:1em;
                #readCheckbox{
                    height:20px;
                    width:20px;
                    outline: 1px solid black;
                    margin: 0 15px;
                }
                input:hover{
                    cursor: pointer;
                }
                label{
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size:20px;
                    margin:0;
                }
            }
            .submit-btn{
                @include flexCenterRow();
                button{
                    height:2.5em;
                    position:relative;
                    border:none;
                    border-radius:0.5em;
                    font-size:25px;
                    width:100%;
                    background-color:#4ade80;
                }
            }
        }
    }
}

.footer{
    @include flexCenterRow();
    color:#fff;
    background-color:var(--secondary);
    font-weight: bold;
    align-items:center;
    p{
        margin:0 1em;
    }
}
/* mobile styles */

/* small tablet styles */
@media screen and (min-width:620px){

}
/* large tablet and laptops */
@media screen and (min-width:960px){
    
}
/* desktop styles */
@media screen and (min-width:1200px){
    
}
